<h1>きえったー</h1>
<p>Twitterから同時に消える人をみつけます．</p>
<% if session[:notice] %>
<p>えっと，<%= h(session[:notice]) %> </p>
<% end %>
<% if current_user %>
<p> <%= current_user.screen_name %> </p>
<% else %>
<p> not logged in </p>
<% end %>

<p>ふたつのアカウントをくらべます(鍵つきアカウントには使えません)．</p>
<%= form_tag(url_for(:action => :investigate)) do %>
<p>@<%= text_field_tag 'a' %></p>
<p>@<%= text_field_tag 'b' %></p>
<p><%= submit_tag 'くらべる' %></p>
<p>Twitterでログインしようとするとそこで1分くらい待つかもしれません．</p>
<% end %>
