<h1>きえったー</h1>
<p>Twitterから同時に消える人をみつけます．<a href="http://b.hatena.ne.jp/entry/http://kietter.com" class="hatena-bookmark-button" data-hatena-bookmark-title="きえったー" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></p>
<% if session[:notice] %>
<p>えっと，<%= h(session[:notice]) %> </p>
<% end %>

<p>ふたつのアカウントをくらべます(鍵つきアカウントには使えません)．</p>
<%= form_tag(url_for(:action => :investigate)) do %>
<p>@<%= text_field_tag 'a' %></p>
<p>@<%= text_field_tag 'b' %></p>
<p><%= submit_tag 'くらべる' %></p>
<p>Twitterでログインしてから「アプリケーションにもどります」のところで1分くらい待つかもしれません．</p>
<% end %>
