<h1>きえったー結果</h1>
<% if session[:notice] %>
<p>えっと，<%= h(session[:notice]) %> </p>
<% end %>
<p>@<%= h(@a) %>と@<%= h(@b) %>は，
<% if @pval == nil %>
おなじ時間に消えているか，よくわからんぽん．
<% elsif @pval < 0.01 %>
実際おなじ時間に消えています．
<% elsif @pval < 0.05 %>
わりとおなじ時間に消えています．
<% elsif @pval < 0.1 %>
ちょっとおなじ時間に消えています．
<% else %>
べつにおなじ時間に消えていません．
<% end %>
</p>
<p>(p-val = <%= h(@pval) %>)</p>

<% if current_user %>
<p>@<%= current_user.screen_name %>としてログインしています．</p>
<% else %>
<p>ログインしていないのにこのページにいる．なにかおかしい．</p>
<% end %>
