<h1>きえったー結果</h1>
<% if session[:notice] %>
<p>えっと，<%= h(session[:notice]) %> </p>
<% end %>

<% if @cov == nil || @cov == 0.0
     keikou = ""
   elsif @cov > 0.0
     keikou = "おなじ時間に"
   else
     keikou = "交互に"
   end
%>

<p>@<%= h(@a) %>と@<%= h(@b) %>は，
<% if @pval == nil %>
<%= keikou %>消えているか，よくわからんぽん．
<% elsif @pval < 0.01 %>
実際<%= keikou %>消えています．
<% elsif @pval < 0.05 %>
わりと<%= keikou %>消えています．
<% elsif @pval < 0.1 %>
ちょっと<%= keikou %>消えています．
<% else %>
べつに<%= keikou %>消えていません．
<% end %>
</p>
<p>(それぞれのひとが24時間それぞれに一定の確率で消えるというモデルでなんとか説明しようとして，こんなに<%= keikou %>消えちゃう確率は<%= format('%.1G', @pval) %>とかそんなもん．)</p>
<p>(partial covariance: <%= format('%.2G', @cov) %>)</p>

<% if current_user %>
<p>@<%= current_user.screen_name %>としてログインしています．</p>
<% else %>
<p>ログインしていないのにこのページにいる．なにかおかしい．</p>
<% end %>
