<h1>きえったー結果</h1>
<% if session[:notice] %>
<p>えっと，<%= h(session[:notice]) %> </p>
<% session[:notice] = nil %>
<% end %>

<% unless @same %>
<% if @cov == nil || @cov == 0.0
     keikou = ""
   elsif @cov > 0.0
     keikou = "おなじ時間にTwitterから"
   else
     keikou = "交互にTwitterから"
   end
%>
<% sentence = "@#{h(@a)}と@#{h(@b)}は" %>
<% if @pval == nil %>
  <% sentence += keikou + "消えているか，よくわからんぽん．" %>
<% elsif @pval < 0.01 %>
  <% sentence += "実際#{keikou}消えています．" %>
<% elsif @pval < 0.05 %>
  <% sentence += "わりと#{keikou}消えています．" %>
<% elsif @pval < 0.1 %>
  <% sentence += "ちょっと#{keikou}消えています．" %>
<% else %>
  <% sentence += "べつに#{keikou}消えていません．" %>
<% end %>

<p><%= sentence %></p>

<% if @pval && @cov %>
<p>(それぞれのひとが各曜日の24時間それぞれに一定の確率で消えるというモデルでなんとか説明しようとして，こんなに<%= keikou %>消えちゃう確率は<%= format('%.1G', @pval) %>とかそんなもん．)</p>
<% end # @pval && @cov %>

<div id="tbox"></div>
<script type="text/javascript">
      twttr.anywhere(function (T) {
        T("#tbox").tweetBox({
          height: 100,
          width: 400,
          defaultContent: ". <%= sentence %> kietter.com #kietter"
        });
      });
</script>


<% else # @same %>
<p>@<%= h(@a) %>と@<%= h(@b) %>は，おなじひとなんだからいっしょに消えてるにきまってる．</p>
<% end %>

<p>同時に消えるといっても，たんに，同じ話題にくいついて現れているだけかもしれません．気をつけましょう．</p>

<% if current_user %>
<p>@<%= current_user.screen_name %>としてログインしています．<%= link_to 'トップにもどる', root_url %> <%= link_to 'ログアウト', :controller => 'session', :action => 'destroy' %> </p>
<% else %>
<p>ログインしていないのにこのページにいる．なにかおかしい．</p>
<% end %>
